In [1]:
import os, sys
curr_dir = os.getcwd()
parent_dir = os.path.dirname(curr_dir)
sys.path.insert(0, parent_dir)

In [2]:
import numpy as np
import pandas as pd

In [17]:
from scripts.data_cleaning import DataCleaning
data_cleaner = DataCleaning(
     input_file="../data/MachineLearningRating_v3.csv",
     output_file="../data/final_cleaned_data.csv"
 )

In [18]:
pipelined_output = data_cleaner.process_pipeline()

Loading data from ../data/MachineLearningRating_v3.csv...

/home/am/Documents/Software Development/10_Academy Training/week3/car-insurance-risk-and-predictive-analytics/scripts/data_cleaning.py:34: DtypeWarning: Columns (32,37) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(self.input_file)

No duplicates found.
Converting CapitalOutstanding to float type for numerical processing.
CrossBorder: 698 'No' values and 999400 missing/NaN values.
Converting CrossBorder to string type and handling missing values.
CrossBorder cleaned: now has types [<class 'str'>]             and example values ['Unknown' 'No']
Invalid dates found in TransactionMonth: 0
Column NumberOfVehiclesInFleet is entirely empty, dropping it.
Replacing missing values in categorical column Bank with mode.
Replacing missing values in categorical column AccountType with mode.
Replacing missing values in categorical column MaritalStatus with mode.
Replacing missing values in categorical column Gender with mode.
Replacing missing values in numeric column mmcode with mean.
Replacing missing values in categorical column VehicleType with mode.
Replacing missing values in categorical column make with mode.
Replacing missing values in categorical column Model with mode.
Replacing missing values in numeric column Cylinders with mean.
Replacing missing values in numeric column cubiccapacity with mean.
Replacing missing values in numeric column kilowatts with mean.
Replacing missing values in categorical column bodytype with mode.
Replacing missing values in numeric column NumberOfDoors with mean.
Replacing missing values in categorical column VehicleIntroDate with mode.
Dropping column CustomValueEstimate with 779642 missing/infinite values.
Replacing missing values in numeric column CapitalOutstanding with mean.
Replacing missing values in categorical column NewVehicle with mode.
Dropping column WrittenOff with 641901 missing/infinite values.
Dropping column Rebuilt with 641901 missing/infinite values.
Dropping column Converted with 641901 missing/infinite values.
Final cleaned data saved to ../data/final_cleaned_data.csv.

In [19]:
df = pipelined_output
df.shape

(1000098, 47)