In [1]:
import os, sys
curr_dir = os.getcwd()
parent_dir = os.path.dirname(curr_dir)
sys.path.insert(0, parent_dir)

In [2]:
import numpy as np
import pandas as pd

In [3]:
# from scripts.data_cleaning import DataCleaning

# data_cleaner = DataCleaning(
#     input_file="../data/MachineLearningRating_v3.csv",
#     output_file="../data/cleaned_data.csv"
# )
# df_cleaned_initial = data_cleaner.initial_processing()

In [4]:
df = pd.read_csv("../data/cleaned_data.csv")

In [5]:
df.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,512.848070,0.0
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [6]:
df.columns

Index(['UnderwrittenCoverID', 'PolicyID', 'TransactionMonth',
       'IsVATRegistered', 'Citizenship', 'LegalType', 'Title', 'Language',
       'Bank', 'AccountType', 'MaritalStatus', 'Gender', 'Country', 'Province',
       'PostalCode', 'MainCrestaZone', 'SubCrestaZone', 'ItemType', 'mmcode',
       'VehicleType', 'RegistrationYear', 'make', 'Model', 'Cylinders',
       'cubiccapacity', 'kilowatts', 'bodytype', 'NumberOfDoors',
       'VehicleIntroDate', 'CustomValueEstimate', 'AlarmImmobiliser',
       'TrackingDevice', 'CapitalOutstanding', 'NewVehicle', 'WrittenOff',
       'Rebuilt', 'Converted', 'CrossBorder', 'NumberOfVehiclesInFleet',
       'SumInsured', 'TermFrequency', 'CalculatedPremiumPerTerm',
       'ExcessSelected', 'CoverCategory', 'CoverType', 'CoverGroup', 'Section',
       'Product', 'StatutoryClass', 'StatutoryRiskType', 'TotalPremium',
       'TotalClaims'],
      dtype='object')

In [7]:
df.shape

(1000098, 52)

In [8]:
df.shape

(1000098, 52)

In [9]:
# 3. Apply the `drop_empty_column` method to remove completely empty columns
from scripts.data_cleaning import DataCleaning
data_cleaner = DataCleaning(
    input_file="../data/MachineLearningRating_v3.csv",
    output_file="../data/cleaned_data.csv"
)

In [10]:
df_dup_dropped , dropped_rows_dict = data_cleaner.customized_drop_duplicates(df)

No duplicates found.

In [11]:
df_dup_dropped.shape

(1000098, 52)

In [12]:
dropped_rows_dict

{}

In [13]:
df_cleaned_empty = data_cleaner.drop_empty_column(df_dup_dropped )

Column NumberOfVehiclesInFleet is entirely empty, dropping it.

In [14]:
df_cleaned_empty.shape

(1000098, 51)

In [15]:
# 4. Apply the `clean_dataframe_and_save` method to clean the DataFrame based on the missing values threshold
df_cleaned_final = data_cleaner.clean_dataframe_and_save(df_cleaned_empty, threshold=30)

Replacing missing values in categorical column Bank with mode.
Replacing missing values in categorical column AccountType with mode.
Replacing missing values in categorical column MaritalStatus with mode.
Replacing missing values in categorical column Gender with mode.
Replacing missing values in numeric column mmcode with mean.
Replacing missing values in categorical column VehicleType with mode.
Replacing missing values in categorical column make with mode.
Replacing missing values in categorical column Model with mode.
Replacing missing values in numeric column Cylinders with mean.
Replacing missing values in numeric column cubiccapacity with mean.
Replacing missing values in numeric column kilowatts with mean.
Replacing missing values in categorical column bodytype with mode.
Replacing missing values in numeric column NumberOfDoors with mean.
Replacing missing values in categorical column VehicleIntroDate with mode.
Dropping column CustomValueEstimate with 779642 missing/infinite values.
Replacing missing values in numeric column CapitalOutstanding with mean.
Replacing missing values in categorical column NewVehicle with mode.
Dropping column WrittenOff with 641901 missing/infinite values.
Dropping column Rebuilt with 641901 missing/infinite values.
Dropping column Converted with 641901 missing/infinite values.

In [18]:
df_cleaned_final.shape

(1000098, 47)

In [16]:
# df_cleaned_final = df_cleaned_final.drop_duplicates()

In [17]:
# df_cleaned_final.shape